{% extends 'base.html' %}

{% block title %}个人博客系统测试{% endblock %}

{% block content %}
<center>
    <h1>个人博客系统测试</h1>
    <p>
        <a href="{% url 'blog:login' %}">转到登录</a>
    </p>
    <p>
        <a href="{% url 'blog:archive' %}">转到归档</a>
    </p>
    <p>
        <a href="{% url 'admin:index' %}">Admin Page</a>
    </p>
    <p>
        <a href="{% url 'blog:friend_links' %}">友链页面</a>
    </p>

    <!-- 文章列表 -->
    {% if article_list %}
    <ul>
        <!-- 单个文章标题 -->
        {% for article in article_list %}
        {% if article.content_type == 'lg' %}
        <li><a href="{% url 'blog:content' article.article_id %}">{{ article.title }}</a></li>
        {% else %}
        <li>
            <h4>{{article.title}}</h4>
            <p>{{article.content}}</p>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
    {% else %}
    <p>No articles are available.</p>
    {% endif %}
</center>
{% endblock %}