<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link href="{% static 'mdeditor/css/editormd.min.css' %}" rel="stylesheet">
    <link href="{% static 'mdeditor/css/editormd.preview.css' %}" rel="stylesheet">
    <!-- OwO评论区表情 -->
    <link rel="stylesheet" href="{%static 'plugins/OwO/OwO.min.css'%}">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <!-- bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-7ymO4nGrkm372HoSbq1OY2DP4pEZnMiA+E0F3zPr+JQQtQ82gQ1HPY3QIVtztVua"
        crossorigin="anonymous"></script>
    <title>文章详情页</title>
</head>

<body>
    <center>
        <h1>{{ article.title }}</h1>
        <h4>浏览量：{{ article.visit_num }}</h4>
    </center>
    <!-- <p>
        {{article.content}}
    </p> -->

    <div id="content"><textarea>{{article.content}}</textarea></div>

    <!-- 解析Markdown -->
    <script src="{% static 'mdeditor/js/jquery.min.js' %}"></script>
    <script src="{% static 'mdeditor/js/editormd.min.js' %}"></script>
    <script src="{% static 'mdeditor/js/lib/marked.min.js' %}"></script>
    <script src="{% static 'mdeditor/js/lib/prettify.min.js' %}"></script>
    <script src="{% static 'mdeditor/js/lib/raphael.min.js' %}"></script>
    <script src="{% static 'mdeditor/js/lib/underscore.min.js' %}"></script>
    <script src="{% static 'mdeditor/js/lib/sequence-diagram.min.js' %}"></script>
    <script src="{% static 'mdeditor/js/lib/flowchart.min.js' %}"></script>
    <script src="{% static 'mdeditor/js/lib/jquery.flowchart.min.js' %}"></script>

    <script>
        $(function () {
            // js 解析markdown
            editormd.markdownToHTML("content", {
                emoji: true,
                taskList: true,
                tex: true,  // 默认不解析
                flowChart: true,  // 默认不解析
                sequenceDiagram: true,  // 默认不解析
            });

            $(".reference-link").each(function (i, obj) {
                console.log(obj)
            })
        })

    </script>

    <!-- 上下翻页 -->
    {% if prevpost %}
    <a class="btn" href="{% url 'blog:content' prevpost.article_id %}"
        style="text-decoration: none; float: left;font-size: 20px;">
        上一篇：{{ prevpost.title }}
    </a>
    {% endif %}
    {% if nextpost %}
    <a class="btn" href="{% url 'blog:content' nextpost.article_id %}"
        style="text-decoration: none; float: right;font-size: 20px;">
        下一篇：{{ nextpost.title }}
    </a>
    {% endif %}

    <br />
    <!-- 提交评论 -->
    <!-- <form action="{% url 'blog:submit_comment' %}" method="post">
        {% csrf_token %}
        {{ form.media }}
        {{ form }}
        <input type="text" id="article_id" value="{{article.article_id}}" style="display:none">
        <input type="submit" value="Submit">
    </form> -->

    <form id="" method="post" enctype="multipart/form-data" action="{% url 'blog:submit_comment' %}">
        {% csrf_token %}
        <p>昵称<input type="text" name="nickname" id="nickname" /></p>
        <p>邮箱<input type="text" name="author_email" id="author_email" /></p>
        <p>链接<input type="text" name="author_link" id="author_link" /></p>
        <textarea id="comment_content" name="comment_content" placeholder="在此输入评论内容"></textarea>
        <!-- <div class="OwO-textarea">
            <textarea class="OwO OwO-textarea" id='comment_content'></textarea>
        </div> -->
        <!-- OwO表情 -->
        <!-- <div class="OwO"></div> -->
        <input type="text" id="article_id" name="article_id" value="{{article.article_id}}" style="display:none">
        <a type="text" id="postaddress" href="{% url 'blog:submit_comment' %}" style="display: none"></a>
        <button type="submit" class="btn btn-primary" data-toggle="button" aria-pressed="false"
            onclick="submit_comment()">
            提交评论
        </button>
    </form>

    <!-- OwO表情 -->
    <!-- <script>
        var OwO_demo = new OwO({
            logo: 'OωO表情',
            container: document.getElementsByClassName('OwO')[0],
            target: document.getElementsByClassName('OwO-textarea')[0],
            api: "{%static 'plugins/OwO/OwO.json'%}",
            position: 'down',
            width: '100%',
            maxHeight: '250px'
        });
    </script>
    <script src="{%static 'plugins/OwO/OwO.min.js'%}"></script> -->

    <!-- ajax交互，提交评论 -->
    <!-- <script>
        function submit_comment() {
            var comment_content = document.getElementById("comment").value;
            var article_id = document.getElementById("article_id").value;
            var postaddress = $("#postaddress").attr('href');
            console.log("1234")
            console.log(comment_content)
            print
            $.ajax({
                url: postaddress,     //请求url地址
                type: "POST",
                data: { "id": id, "comment": comment_content },       //发送post请求携带的数据信息
                //dataType: "json",     //期望返回的数据格式，也可以不设置
                success: function (data) {
                    alert("评论成功");
                    document.getElementById("comment").value = "";
                    history.go(0);
                },
                error: function () {
                    alert("服务器错误，评论错误");
                }
            })
        }
    </script> -->

    <!-- 验证码刷新 -->
    <script src="https://cdn.bootcss.com/jquery/1.12.3/jquery.min.js"></script>
    <script>
        //点击刷新验证码
        $(function () {
            $('.captcha').css({
                'cursor': 'pointer'
            });
            // ajax刷新
            $('.captcha').click(function () {
                console.log('click');
                $.get("{% url 'captcha-refresh' %}",
                    function (result) {
                        $('.captcha').attr('src', result['image_url']);
                        $('#id_captcha_0').val(result['key'])
                    });
            });
        })
    </script>

    <!-- 评论区 -->
    {% if comments %}
    <ul>
        {% for comment in comments %}
        {% if comment.status == 'npr' %}
        <li>{{ comment.author }} 提交的评论还未过审</li>
        {% else %}
        <li>{{ comment.author }} 说 {{ comment.content }}</li>
        {% endif %}
        {% endfor %}
    </ul>
    {% else %}
    <p>文章暂时没有评论</p>
    {% endif %}
</body>

</html>